<div *ngIf="levelUpFeat$ | async as data" class="relative z-10" aria-labelledby="modal-title" role="dialog"
    aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div
                class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div
                            class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-gray-100 sm:mx-0 sm:h-10 sm:w-10">
                            <img src="../../../assets/small-level-bg.svg" alt="level">
                        </div>
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left w-full">
                            <h3 class="text-lg font-medium leading-6 text-gray-900 capitalize" id="modal-title">
                                Calculate your future level
                            </h3>
                            <p class="text-sm font-normal text-gray-400 mb-4" id="modal-subtitle">With the help of these
                                calculations you can see where you can improve.</p>
                            <app-setp-indicator
                                [steps]="availableModalSteps"
                                [activeStep]="data.indicator"></app-setp-indicator>
                            <div class="mt-4">
                                <div class="my-2">
                                    <section *ngIf="data.indicator === 0">
                                        <h5 class="mb-4 text-sm font-medium text-gray-900 capitalize">Tool activity</h5>
                                        <div class="group flex justify-between items-center">
                                            <div>
                                                <input type="radio" name="studytime" id="studytime_1" value="1"
                                                    class="mr-2">
                                                <label for="studytime_1">&#60;2 hours</label>
                                            </div>
                                            <img src="../../../assets/food-drink-bread-18.svg" alt="food drink bread"
                                                class="mr-8 w-8 h-8 group-hover:scale-150">
                                        </div>
                                        <div class="mt-2 group flex justify-between items-center">
                                            <div><input type="radio" name="studytime" id="studytime_2" value="2"
                                                    class="mr-2">
                                                <label for="studytime_2">2 to 5 hours</label>
                                            </div>
                                            <img src="../../../assets/thumbs-up-18.svg" alt="thumbs up"
                                                class="mr-8 w-8 h-8 group-hover:scale-150">
                                        </div>
                                        <div class="mt-2 group flex justify-between items-center">
                                            <div>
                                                <input type="radio" name="studytime" id="studytime_3" value="3"
                                                    class="mr-2">
                                                <label for="studytime_3">5 to 10 hours</label>
                                            </div>

                                            <img src="../../../assets/rock-n-roll-18.svg" alt="rockn roll"
                                                class="mr-8 w-8 h-8 group-hover:scale-150">
                                        </div>
                                        <div class="mt-2 group flex justify-between items-center">
                                            <div>
                                                <input type="radio" name="studytime" id="studytime_4" value="4"
                                                    class="mr-2">
                                                <label for="studytime_4">&#62;10 hours</label>
                                            </div>
                                            <img src="../../../assets/business-product-startup-1-20.svg"
                                                alt="business product startup"
                                                class="mr-8 w-8 h-8 group-hover:scale-150">
                                        </div>
                                        <div class="mt-2 flex justify-start items-center gap-4">
                                            <label for="g1">Quest Completion P1 (%):</label>
                                            <input type="number" name="g1" id="g1" placeholder="50"
                                                class="mr-2 bg-gray-200">
                                        </div>
                                        <div class="mt-2 flex justify-start items-center gap-4">
                                            <label for="g2">Quest Completion P2 (%):</label>
                                            <input type="number" name="g2" id="g2" placeholder="50"
                                                class="mr-2 bg-gray-200">

                                        </div>
                                    </section>
                                    <section *ngIf="data.indicator === 1">
                                        <h5 class="mb-4 text-sm font-medium text-gray-900 capitalize">
                                            Class Failures</h5>
                                        <div class="group flex justify-between items-center">
                                            <div>
                                                <input type="radio" name="failures" id="failures_0" value="0"
                                                    class="mr-2">
                                                <label for="failures_0">0</label>
                                            </div>
                                        </div>
                                        <div class="mt-2 group flex justify-between items-center">
                                            <div>
                                                <input type="radio" name="failures" id="failures_1" value="1"
                                                    class="mr-2">
                                                <label for="failures_1">1</label>
                                            </div>
                                        </div>
                                        <div class="mt-2 group flex justify-between items-center">
                                            <div><input type="radio" name="failures" id="failures_2" value="2"
                                                    class="mr-2">
                                                <label for="failures_2">2</label>
                                            </div>
                                        </div>
                                        <div class="mt-2 group flex justify-between items-center">
                                            <div>
                                                <input type="radio" name="failures" id="failures_4" value="4"
                                                    class="mr-2">
                                                <label for="failures_4">More than 2</label>
                                            </div>
                                        </div>
                                        <h5 class="my-4 text-sm font-medium text-gray-900 capitalize">
                                            Class Absences (Current Year)</h5>
                                        <div class="mt-2 flex justify-start items-center gap-4">
                                            <label for="absences">Number of school absences:</label>
                                            <input type="number" max="93" min="0" name="absences" id="absences"
                                                placeholder="0" class="mr-2 bg-gray-200">

                                        </div>
                                    </section>
                                    <section *ngIf="data.indicator === 2">
                                        <h5 class="mb-4 text-sm font-medium text-gray-900 capitalize">
                                            Freetime</h5>
                                            <div class="group flex justify-between items-center">
                                                <div>
                                                    <input type="radio" name="freetime" id="freetime_1" value="1"
                                                        class="mr-2">
                                                    <label for="freetime_1">Very low</label>
                                                </div>
                                            </div>
                                            <div class="mt-2 group flex justify-between items-center">
                                                <div>
                                                    <input type="radio" name="freetime" id="freetime_2" value="2"
                                                        class="mr-2">
                                                    <label for="freetime_2">Low</label>
                                                </div>
                                            </div>
                                            <div class="mt-2 group flex justify-between items-center">
                                                <div>
                                                    <input type="radio" name="freetime" id="freetime_3" value="3"
                                                        class="mr-2">
                                                    <label for="freetime_3">Frequent</label>
                                                </div>
                                            </div>
                                            <div class="mt-2 group flex justify-between items-center">
                                                <div>
                                                    <input type="radio" name="freetime" id="freetime_4" value="4"
                                                        class="mr-2">
                                                    <label for="freetime_4">High</label>
                                                </div>
                                            </div>
                                            <div class="mt-2 group flex justify-between items-center">
                                                <div>
                                                    <input type="radio" name="freetime" id="freetime_5" value="5"
                                                        class="mr-2">
                                                    <label for="freetime_5">Very high</label>
                                                </div>
                                            </div>
                                        <h5 class="mb-4 text-sm font-medium text-gray-900 capitalize">
                                            Go out</h5>
                                            <div class="group flex justify-between items-center">
                                                <div>
                                                    <input type="radio" name="goout" id="goout_1" value="1"
                                                        class="mr-2">
                                                    <label for="goout_1">Very low</label>
                                                </div>
                                            </div>
                                            <div class="mt-2 group flex justify-between items-center">
                                                <div>
                                                    <input type="radio" name="goout" id="goout_2" value="2"
                                                    class="mr-2">
                                                    <label for="goout_2">Low</label>
                                                </div>
                                            </div>
                                            <div class="mt-2 group flex justify-between items-center">
                                                <div>
                                                    <input type="radio" name="goout" id="goout_3" value="3"
                                                        class="mr-2">
                                                    <label for="goout_3">Frequent</label>
                                                </div>
                                            </div>
                                            <div class="mt-2 group flex justify-between items-center">
                                                <div>
                                                    <input type="radio" name="goout" id="goout_4" value="4"
                                                        class="mr-2">
                                                    <label for="goout_4">High</label>
                                                </div>
                                            </div>
                                            <div class="mt-2 group flex justify-between items-center">
                                                <div>
                                                    <input type="radio" name="goout" id="goout_5" value="5"
                                                        class="mr-2">
                                                    <label for="goout_5">Very high</label>
                                                </div>
                                            </div>
                                        <h5 class="mb-4 text-sm font-medium text-gray-900 capitalize">
                                            Travel time</h5>
                                            <div class="group flex justify-between items-center">
                                                <div>
                                                    <input type="radio" name="traveltime" id="traveltime_1" value="1"
                                                        class="mr-2">
                                                    <label for="traveltime_1">&#60;15 min.</label>
                                                </div>
                                            </div>
                                            <div class="mt-2 group flex justify-between items-center">
                                                <div>
                                                    <input type="radio" name="traveltime" id="traveltime_2" value="2"
                                                    class="mr-2">
                                                    <label for="traveltime_2">15 to 30 min.</label>
                                                </div>
                                            </div>
                                            <div class="mt-2 group flex justify-between items-center">
                                                <div>
                                                    <input type="radio" name="traveltime" id="traveltime_3" value="3"
                                                        class="mr-2">
                                                    <label for="traveltime_3">30 min.</label>
                                                </div>
                                            </div>
                                            <div class="mt-2 group flex justify-between items-center">
                                                <div>
                                                    <input type="radio" name="traveltime" id="traveltime_4" value="4"
                                                        class="mr-2">
                                                    <label for="traveltime_4">&#62;1 Hour</label>
                                                </div>
                                            </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    <button *ngIf="!isStepLast(data.indicator)" type="button" (click)="emitSetStudyTime()"
                        class="mt-3 inline-flex gap-2 w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                        Next
                    </button>
                    <button *ngIf="isStepLast(data.indicator)" type="button" (click)="calculatePredictedLevel()"
                        class="mt-3 inline-flex gap-2 w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                        Calculate Future Level
                    </button>
                    <button type="button" (click)="emitChangePage(data.indicator, 'prev')" [disabled]="isStepFirst(data.indicator)"
                        class="mt-3 inline-flex gap-2 w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                        Previous
                    </button>
                    <button type="button" (click)="emitCloseModalEvent()"
                        class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>