.questup-main {
    display: grid;
    grid-template-areas: 
        "nav content";
    grid-template-columns: auto 2fr;
}

.navigation__container {
    height: 100vh;
    background-color: #F9F9F9;
}

nav {
    grid-area: nav;
    margin: 1.33em 8px;
}

.content {
    grid-area: content;
}

.navigation__item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 16px;
}

.navigation__item:hover {
    background-color: #EFF5FB;
    border-radius: 6px;
}

.active__item {
    background-color: #EFF5FB;
    color: #369FFF;
    border-radius: 6px;
}

.active__item svg {
    fill: #369FFF;
}