<div *ngIf="shop$ | async as data">
  <app-loader *ngIf="data.loading" [loadingMessage]="'Shop Items'"></app-loader>
  <div class="my-8 mx-8 h-auto">
    <div class="flex items-center justify-between mb-8">
      <h1 class="text-2xl font-bold">Shop</h1>
      <div *ngIf="data.user_point_balance != (-9999)" class="flex gap-2">
        <p class="text-lg font-bold text-gray-900">Available Points:</p>
        <img src="../../assets/small-coin.svg" alt="coin">
        <p class="text-lg font-bold text-gray-900">{{data.user_point_balance}}</p>
      </div>
    </div>
  <div class="my-8">
    <mat-card class="example-card">
      <p class="text-lg font-bold tracking-tight text-gray-900 font-mono py-3">
        <b>Daily Reward</b>
      </p>

      <mat-card-content>
        <img class="mx-auto card-image" mat-card-image src="../../assets/chest.jpg" />
      </mat-card-content>
      <mat-card-actions class="justify-center">
        <button
          *ngIf="!data.has_today_been_redeemed"
          class="bg-gradient-to-r from-cyan-500 to-blue-500 reward mx-auto my-5 card-button text-xs cursor-default inline-flex gap-1 items-center font-bold leading-sm uppercase px-3 py-1 bg-white text-gray-900 rounded-full"
          (click)="getDailyChestWin()">
          COLLECT
        </button>
        <p *ngIf="data.has_today_been_redeemed" class="text-xs font-normal text-gray-500 capitalize">Already redeemed today</p>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf="data.shop_items.length > 0">
    <div class="flex flex-wrap justify-start gap-4">
      <div *ngFor="let item of data.shop_items" class="flex justify-between items-center gap-4 w-full relative p-4 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100">
        <div class="flex flex-col">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <p class="text-sm font-bold capitalize mb-1">{{item.title}}</p>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <p class="text-xs font-normal capitalize text-gray-500 mb-0.5">Usage: <strong>{{item.usage}}</strong></p>
          </div>
        </div>
        <div
            class="reward card-button text-xs cursor-default inline-flex gap-1 items-center font-bold leading-sm uppercase bg-white text-gray-900 rounded-full">
            <img src="../assets/small-coin.svg" alt="coin" />
            {{item.price}}
          </div>
      </div>
    </div>
  </div>
  </div>
</div>