<div *ngIf="quests$ | async as data" >
    <app-loader *ngIf="data.loading" [loadingMessage]="'Quests'"></app-loader>
    <div class="my-8 mx-8">
        <section *ngIf="data.annual_rewards != null" class="page__sections">
            <h1 class="text-2xl font-bold mb-8">Annual Rewards Available!</h1>
            <div class="flex gap-8 justify-between">
                <app-medal-card *ngFor="let rewards of data.annual_rewards" [medalImageSource]="rewards.image_src"
                    [medalType]="rewards.medal" [medalReward]="rewards.reward" [medalTaskToEarnReward]="rewards.task"
                    class="w-full"></app-medal-card>
            </div>
        </section>
        <section *ngIf="data.quests != null" class="my-8">
            <h1 class="text-2xl font-bold mb-8">My Quests</h1>
            <div class="flex justify-start gap-8">
                <app-quests *ngFor="let quest of data.quests" [quest]="quest"
                    [studentCompletedQuests]="data.student_completed_quests"></app-quests>
            </div>
        </section>
    </div>
</div>