.annual-rewards__container {
    flex: 1;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 16px;
    box-shadow: 0px 4px 4px #FAFBFF;
    padding: 22px 20px;
}

.annual-rewards__info-text {
    display: flex;
    flex-direction: column;
}
